/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color:gold;
    display:block;
    width: 150px;
    height:150px;
    margin:24px;
    padding:24px;
    font-family:sans-serif;
}
.green-post {
    background-color: green;
    display:block;
    width:150px;
    height:150px;
    margin: 30px;
    padding: 24px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
.blue-post {
    background-color: aqua;
    display: block;
    width: 150px;
    height:150px;
    margin: 30px;
    padding: 24;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 
    sans-serif;
}