* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: purple;
}

#navbar {
    background: linear-gradient(to bottom, purple, gold);
    display: flex;
    justify-content: space-between;
     align-items: center; 
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar h2 {
    font-family: 'Segoe UI';
    color: white;
    width: 200px;
    margin-right: auto;
}   

#navbar .cta-button {
    background-color: purple;
    color: gold;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#hero-1 {
    background-image: url("../images/Chicken-burrito-wrap.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#hero-1 h1 {
    font-size: 60px;
}

#hero-1 h2 {
    font-size: 50px;
}

#hero-1 a {
    font-size: 20px;
    background-color: purple;
    color: gold;
    text-decoration: none;
    padding: 24px;
    font-weight: bold;
    border-radius: 36px;
    display: inline-block;
}

#sidebar-content {
    flex: 1;
}

#sidebar-content h2 {
    font-size: 30px;
    margin: 20px;
    color: white;
}

#sidebar-content img {
    width: 410px;
    border: solid;
    margin: 24px;
}

#mainbar-content {
    flex: 1;
}

#mainbar-content h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

#mainbar-content p {
    font-size: 20px;
    align-items: center;
    color: white;
}

#mainbar-content h3 {
    font-size: 30px;
    text-align: center;
    color: white;
}


#two-columns {
    display: flex;
}

.single-column {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.single-column h1 {
    font-size: 30px;
    color: white;
}

.single-column img {
    height: 400px;
    width: 400px;
    border: solid;
}

.single-column h2 {
    font-size: 20px;
    color: white;
}